<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public key</key>
	<string>c6c932c025cdb2573c2b1ff4369c596b</string>
	<key>private key</key>
	<string>5124e7020275b3b39247a624e3391f0b548d76e5</string>
</dict>
</plist>
